<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HOTAGuide">

        <activity
            android:name=".Jebus.starters.castles.castle.loynis.JebusStarterHeroLoynisActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.castle.valeska.JebusStarterHeroValeskaActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.bulwark.eikthurn.JebusStarterHeroEikthurnActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.bulwark.kynr.JebusStarterHeroKynrActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.conflux.luna.JebusStarterHeroLunaActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.cove.cassiopeia.JebusStarterHeroCassiopeiaActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.dungeon.shakti.JebusStarterHeroShaktiActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.factory.sam.JebusStarterHeroSamActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.factory.henrietta.JebusStarterHeroHenriettaActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.fortress.drakon.JebusStarterHeroDrakonActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.inferno.ignatius.JebusStarterHeroIgnatiusActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.inferno.calh.JebusStarterHeroCalhActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.necropolis.thant.JebusStarterHeroThantActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.rampart.ivor.JebusStarterHeroIvorActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.stronghold.tyraxor.JebusStarterHeroTyraxorActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.stronghold.gretchin.JebusStarterHeroGretchinActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.tower.solmyr.JebusStarterHeroSolmyrActivity"
            android:exported="false" />

        <activity
            android:name=".Jebus.JebusCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Outcast.OutcastCategoryActivity"
            android:exported="false" />

        <activity
            android:name=".Jebus.starters.JebusStarterCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.objects.JebusObjectCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.artefacts.JebusArtefactCategoryActivity"
            android:exported="false" />

        <activity
            android:name=".Jebus.starters.castles.castle.JebusStarterHeroCastleCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.bulwark.JebusStarterHeroBulwarkCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.conflux.JebusStarterHeroConfluxCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.cove.JebusStarterHeroCoveCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.dungeon.JebusStarterHeroDungeonCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.factory.JebusStarterHeroFactoryCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.fortress.JebusStarterHeroFortressCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.inferno.JebusStarterHeroInfernoCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.necropolis.JebusStarterHeroNecropolisCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.rampart.JebusStarterHeroRampartCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.stronghold.JebusStarterHeroStrongholdCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Jebus.starters.castles.tower.JebusStarterHeroTowerCategoryActivity"
            android:exported="false" />

        <activity
            android:name=".HOTAPattern.ListTitleAdapter"
            android:exported="false"
            tools:ignore="Instantiatable,MissingClass" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>